<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docker_Django</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div align="center">
<h1> Study Docker</h1>
</div>

<div class="jumbotron">
  <h1 class="display-4">Docker compose with  Django App</h1>
    <ul>
        <li>{{Create_project}}</li>
        <li>{{Create_App}}</li>
        <li>Welcome To Docker</li>
        <li>My Django Trainer name  Rohit Sir</li>
    </ul>
</div>
</body>
</html>